@model Shop.Application.ProductCart.Queries.GetUserCart.NewClassForProductInCartViewModel;
@{
    ViewData["Title"] = "Корзина";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container">
    <main role="main" class="pb-3">
        <h2> Действия с товарами</h2>
        <div>
            <h4>Выберите из списка</h4>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" id="cart" href="#">Корзина с товарами</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="liked" asp-controller="Liked" asp-action="Index">Понравившиеся товары</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="history" asp-action="GetOrder" asp-controller="Order">История покупок</a>

                        </li>
                    </ul>
                </div>

                <div class=" row col-md-9">
                    <h4 class="col-md-9">Корзина с товарами</h4>
                    @if(@Model.Products.Length>0){
                    <h5 class="col-md-9">
                        <span>Стоимость товаров:</span>
                        <span class="totalPrice"> @Model.FullPriece</span>
                        <span>&#x20bd</span>
                    </h5>
                    <div class="col-md-9">
                        <a  asp-controller="Order" asp-action="MakeOrder" class="btn bg-info"  onclick="ClearProductInCart()">Оформить</a>
                    </div>
                    

                    <br />

                    @foreach (var item in Model.Products)
                    {

                        <div class="card Products  col-md-4 m-2 " style="width: 18rem;">
                            <img src="/images/Products/@item.Image" class="card-img-top" alt="не удалось загрузить фото">
                            <div class="card-body">
                                <p hidden class="idProduct">@item.ProductId</p>
                                <h5 class="card-title">@item.Name</h5>
                                <h4 class="card-text ">
                                    <span class="price">@item.Priece</span>
                                    <span>&#x20bd</span>

                                </h4>

                                <a class=" btn far fa-heart mt-1 float-left heard" onclick="likedMethod(@item.ProductId,@item.CartId)"></a>
                                <a class="btn bg-danger mt-1 float-right " onclick="deleteProductInCart(@item.CartId,@item.Quantity)">Убрать</a>

                            </div>

                            <div class="row mx-auto mb-2 items counter-wrapper">
                                <div class="items__control" data-action="minus">-</div>
                                <div class="items__current" data-counter>@item.Quantity</div>
                                <div class="items__control" data-action="plus">+</div>
                            </div>

                        </div>

                        <br />

                    }
                    }
                    else
                    {
                        <h1 class="h3 col-9 text-center"> Ваша корзина пуста</h1>
                       
                        <p class=" col-9 text-center">Смотреть товары для добавления в корзину <a asp-controller="Product" asp-action="Index"> здесь</a></p>
                    
                    }


                </div>
            </div>

        </div>
    </main>

</div>
<style>
   
    .items__control {
        width: 40px;
        cursor: pointer;
        transition: 0.2s ease-in;
        text-align: center;
    }

        .items__control:hover {
            background: #eb5a1e;
            color: #FFF;
        }

    .items__current {
        width: 40px;
    }

    .items {
        font-family: 'Merriweather', serif;
        background: #f2ede7;
        border-radius: 8px;
        width: 120px;
        display: flex;
        font-size: 18px;
        height: 30px;
        overflow: hidden;
    }
</style>
