@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal
@model Shop.ViewModels.ProductAndReviewViewModel;
@{
    ViewData["Title"] = "Details";
}
@*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<div class="row">
    <div class="col-md-4">
        <img src="/images/Products/@Model.Product.Image" alt="Не удалось загрусить фото" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-md-8">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Название</th>
                    <td>@Model.Product.Name</td>
                </tr>
                <tr>
                    <th scope="row">Описание</th>
                    <td>@Model.Product.Description</td>
                </tr>
                <tr>
                    <th scope="row">Категория</th>
                    <td>@Model.Product.Categories.Name</td>

                </tr>
                <tr>
                    <th scope="row">Поставщик</th>
                    <td>@Model.Product.Vendors.Name</td>

                </tr>
                <tr>
                    <th scope="row">Цена</th>
                    <td>@Model.Product.Price.ToString("C")</td>

                </tr>
            </tbody>
        </table>



        <a class="bg-success btn" asp-controller="Product" asp-action="Index">Назад</a>
        <a class="btn bg-primary" onclick="addProduct(@Model.Product.Id)">Поместить в корзину</a>
        <a class="btn bg-primary" onclick="addProductInLikedCart(@Model.Product.Id)">Понравилось</a>

    </div>

</div>
<div id="accordion">
    <button class="btn bg-success" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Отзывы
    </button>

    <div id="collapseOne" class=" collapse ">
        fdedvdcx


    </div>

</div>
<script src="@Url.Content("~/js/check.js")" type="text/javascript"></script>