@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal
@using Microsoft.AspNetCore.Identity
@using Shop.Domain.Models
@model Shop.ViewModels.ProductAndReviewViewModel;
@inject SignInManager<ShopUser> _manager
@{
    ViewData["Title"] = "Details";
}
@*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<div class="row">
    <div class="col-md-4">
        <img src="/images/Products/@Model.Product.Image" alt="Не удалось загрусить фото" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-md-8">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Название</th>
                <td>@Model.Product.Name</td>
            </tr>
            <tr>
                <th scope="row">Описание</th>
                <td>@Model.Product.Description</td>
            </tr>
            <tr>
                <th scope="row">Категория</th>
                <td>@Model.Product.Categories.Name</td>

            </tr>
            <tr>
                <th scope="row">Поставщик</th>
                <td>@Model.Product.Vendors.Name</td>

            </tr>
            <tr>
                <th scope="row">Цена</th>
                <td>@Model.Product.Price.ToString("C")</td>

            </tr>
            </tbody>
        </table>



        <a class="bg-success btn" asp-controller="Product" asp-action="Index">Назад</a>
        <a class="btn bg-primary" onclick="addProduct(@Model.Product.Id)">Поместить в корзину</a>
        <a class="btn bg-primary" onclick="addProductInLikedCart(@Model.Product.Id)">Понравилось</a>

    </div>

</div>

@if (_manager.IsSignedIn(User))
{
    <div class="jumbotron mt-5">
        <h1 class="display-4 mb-6">оставьте свой отзыв о данном товаре</h1>
        <p class="lead">Ваш отзыв важен для нас.</p>
        <hr class="my-4">
        <form asp-controller="Review" asp-action="AddRating">
            <div class="form-group">

                <div class="rating" for="ratingValue">
                    <p class="col-1 mt-4">Оценка</p>
                    <span class="rating-item" data-rate="1"></span>
                    <span class="rating-item" data-rate="2"></span>
                    <span class="rating-item" data-rate="3"></span>
                    <span class="rating-item" data-rate="4"></span>
                    <span class="rating-item" data-rate="5"></span>
                </div>
                <input type="hidden" id="ratingValue" name="rating" value="" />
                <textarea required="" placeholder="Ваш отзыв..." class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
                <input type="hidden" name="productId" value="@Model.Product.Id" />
            </div>
            <button type="submit" class="btn ">Отправить</button>
        </form>
        
    </div>


}
else
{

}
<div id="accordion">
    <button class="btn bg-success" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Отзывы
    </button>

    <div id="collapseOne" class=" collapse ">
        fdedvdcx


    </div>

</div>
